// @import 'susy/sass/_susy';
// @import 'bootstrap/scss/bootstrap';

$page-padding: 16px;

.list-entry-button {
    margin: 0 $page-padding 0 0 !important;
    float: left;
}

.mdl-card {
    width: 100% !important;
    min-height: 0 !important;
}

.mdl-textfield {
    width: 100% !important;
}



.svg-definition {
    display: none;
}

.container {
    margin: $page-padding $page-padding 0 $page-padding;
}

.game-header {
    text-align: center;
}

.mdl-layout__header-row {
    padding-left: $page-padding !important;
    padding-right: 0 !important;
}

.mdl-navigation > a:last-child {
    padding-right: $page-padding !important;
}

// Gomoku styling
// --------------

// Customizable
$cols: 19;

$color-background: lighten(rgb(121,85,72), 25%);
$color-border: darken($color-background, 75%);
$color-stone-border: #333;
$color-stone-black: #000;
$color-stone-white: #fff;

$gutters-relative: 1;
$gutter-relative-width: 1/20;

// Calculated
$col-width: percentage(1 / ($cols + ($cols + $gutters-relative) * $gutter-relative-width));
$gutter-width: $col-width * $gutter-relative-width;

@keyframes pulsating-background {
    0%, 100% { background-color: lighten($color-background, 75%); },
    50% { background-color: $color-background; }
}

.gomoku-board {
    // WARNING: A hack, vw is a messy unit...
    width: calc(90vw);
    height: calc(90vw);
    margin: 0 auto $page-padding;

    background-color: $color-border;

    svg {
        float: left;
        width: $col-width;
        height: $col-width;
        margin: 0 $gutter-width $gutter-width 0;

        &:nth-child(-n+#{($cols)}) {
            margin-top: $gutter-width;
        }
        &:nth-child(#{($cols)}n+1) {
            margin-left: $gutter-width;
        }

        transition: all 1s;
        background-color: $color-background;

        use {
            transition: all 0.5s;
        }
        &:not(.stone) {
            &:hover {
                animation: pulsating-background 1s infinite ease-in-out;
            }
            use {
                opacity: 0;
            }
        }
        &.stone {
            use {
                opacity: 1;
            }
        }
    }
}

// Stones...
#black, #white {
    stroke: $color-stone-border;
    stroke-width: 1%;
}
#black {
    fill: $color-stone-black;
}
#white {
    fill: $color-stone-white;
}

// Crosses...
// #black, #white {
//     fill: none;
//     stroke-width: 20%;
//     stroke-linecap: round;
// }
// #black {
//     stroke: $color-stone-black;
// }
// #white {
//     stroke: $color-stone-white;
// }

// Clearfix
// --------
%clearfix {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }
    &:after {
        clear: both;
    }
}
